<html>
<head><style>
title{
color:red;
text_align: center:
}
body{
back  ground_color:green;
}
<title >
DEGREE COLLEGE
</title>
</head>
<body >
<marquee behavior=alternate ><font size=5>DEGREE COLLEGE<font size=5></marquee>
<p ><font  color=yellow size=5>Principal Name:SUDAKARA REDDY SIR<font size=5></p>
<pre>
  K.DHANUSH
  B.SC(MSCS)
  PERSENTAGE:77%
</pre>
<p ><font  color=blue size=5>3 YEARS COURSE<font size=5></p>
<p><img src="degreee.png"></p>
</body>
</html>