{% extends 'sems.html' %}

{% block title %}mca103 Page{% endblock %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<a herf="{% url 'base' %}">
Exit</a>
</head>
<body bgcolor=red>
<h1 align=center>Computer Organization page</h1>
 <pre>
 MCA (Master of Computer Applications) course, 
Computer organization refers to the way the components of a computer system are interconnected and how they operate together to execute programs. 
</pre>
{% endblock %}
</body>
</html>
