{% extends 'base.html' %}
{% block title %}mca102{{% endblock title %}

{% block content %}


<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<a herf="{% url 'base' %}">
</a>
</head>
<body bgcolor=gray>
<h1>WELCOME TO JAVA </h1>
<h2>
Java: HASYA (madam)
</h2>
<pre>
MCA (Master of Computer Applications) course, 
Java is a high-level, object-oriented programming language used to build web apps,
 mobile applications, and enterprise software systems. It is known for its Write Once, 
Run Anywhere capability, which means code written in Java can run on any device that supports the Java Virtual Machine (JVM).

</pre>
</body>
</html>
{% endblock content %}