{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=red>
<h1 >ECOMMERCE page</h1>
<pre>
Ecommerce, or electronic commerce, is the practice of buying and selling goods and services over the internet. It encompasses all online activities related to the exchange of products and services, whether between businesses (B2B), businesses and consumers (B2C), or consumers themselves (C2C). Essentially, it's the digital version of traditional commerce. 
</pre>
</body>
{% block content %}
