{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=gray>
<h1 align=center>DCCN</h1>
<pre>
  
DCCN is a subject that explores the principles and technologies behind transmitting digital data between computers and other devices, as well as the construction and management of computer networks. 
Key Topics:
DCCN typically covers topics such as:
Data Transmission: How data is encoded, transmitted, and received over various media (cables, wireless, etc.). 
Network Topologies: Different ways of organizing computers in a network (e.g., star, bus, mesh). 
Network Protocols: Rules and standards that govern communication between devices (e.g., TCP/IP, HTTP). 
Network Devices: Components like routers, switches, and hubs. 

</body>
{% endblock content %}
