{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=#987>
<h1>Welcome to Software Engineering  page</h1>
<pre>
 Software engineering is a discipline that applies engineering principles to the design, development, testing, and maintenance of software systems. It involves creating and managing software solutions to meet specific user needs and solve real-world problems. Software engineers use various techniques, tools, and methodologies to ensure the reliability, efficiency, and scalability of software applications. 
Key aspects of software engineering:

</pre>
</body>
{% endblock content %}