{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=lightgreen>
<h1 Style="border:2px solid tomato" align=left>Software testing page</h1>
<pre>
Software testing is the process of evaluating a software product or application to identify defects and ensure it meets specified requirements. It involves verifying and validating the software to ensure it functions correctly, is reliable, and meets user expectations. This process helps in finding bugs, improving performance, and ultimately delivering a high-quality product. 

</pre>
</body>
{% endblock content %}