{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=yellow>
<h1 Style="border:2px solid tomato" align=left>Welcome to System programs page</h1>
<pre>
System programs are software components that manage a computer's resources and provide a platform for other programs to run. They are essential for the operation and maintenance of a computer system and are typically included with the operating system. 
Key characteristics of system programs:

</pre>
</body>
{% endblock content %}
