{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<body bgcolor=lightyellow>
<h1>Welcome to mobile application developments page</h1>
<pre>
Mobile application development is the process of creating software for mobile devices like smartphones and tablets. This involves designing, building, testing, and deploying applications that run on platforms like Android and iOS, often utilizing network connections to access remote resources. 

</pre>
</body>
{% endblock content %}