{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=#987>
<h1> Web Technology design  page</h1>
<pre>
 Web technologies encompass the tools, protocols, and programming languages used to build and interact with websites and web applications. These technologies enable the creation of dynamic online platforms accessible through web browsers. Key components include HTML, CSS, JavaScript, and various frameworks and libraries. 
Here's a breakdown of some essential web technologies:


</pre>
</body>
{% endblock content %}