{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body bgcolor=agenda>
<h1>major project page</h1>
<pre>
TA "major project" typically refers to a significant undertaking, often involving a substantial amount of time, effort, and resources, that is completed as part of a course of study or as a professional endeavor. These projects are often characterized by their complexity, the level of investment required, and the involvement of various stakeholders. 
Here's a more detailed breakdown:


</pre>
</body>
{% endblock content %}
