
{% extends 'abccc.html' %}

{% block title %}Home Page{% endblock %}



{% block content %}

<body bgcolor=yellow>
<h1 Style="border:2px solid tomato" align=left>Welcome to Computer Graphics  page</h1>
<pre>
 A computer network is a system of interconnected computing devices that can exchange data and share resources. These devices, including computers, servers, and printers, communicate using wired or wireless connections and standardized protocols. Networks enable various functionalities like file sharing, email, and internet access. 
Here's a more detailed breakdown:
 
</pre>
</body>

{% endblock content %}